@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap');

body {
	background-color: #fef3c7;
}

#logo {
	font-family: 'Dancing Script', cursive;
}

.main-wrapper {
	background-image: url('/forest-6.jpg');
}
